<div class="container_big-card">
  <div class="big-card_photo">
    <img src="https://lncimg.lance.com.br/cdn-cgi/image/width=1920,quality=75,format=webp/uploads/2023/10/53240729157_9127755669_o-aspect-ratio-512-320.jpg"
    alt=""
    srcset=""
    />
  </div>
  <div class="big-card_title">
    <h1>
      <a href="#">
        Vasco 0 x 0 São Paulo
      </a>
    </h1>
  </div>
  <div class="big-card_description">
    <p>
      <a href="#">
        Vasco e São Paulo empataram neste sábado sem gols por causa da má pontaria de seus jogadores. O jogo foi em São Januário, com chuva e raios.
      </a>
    </p>
  </div>
</div>
